<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .banner {
            background-color: #f8f9fa;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-form {
            background-color: #ffffff;
            padding: 50px;
            width: 100%;
            max-width: 400px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .login-form input {
            margin-bottom: 20px;
            padding: 10px;
            width: 100%;
            border: 1px solid #ddd;
        }

        .login-form button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        .login-form button:hover {
            background-color: #45a049;
        }

        .footer {
            background-color: #4CAF50;
            color: white;
            text-align: center;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="banner">
        <!-- Aquí va el logo o imagen del banner -->
    </div>

    <div class="login-form">
        <h2>Ingreso</h2>
        <form name="sentMessage" id="loginForm" novalidate="novalidate" action="/usuarios/login" method="POST">
           
            <input type="text" class="form-control p-4" id="username"  name="username" placeholder="Usuario" required="required" data-validation-required-message="Por favor ingresar usuario" />
            <p class="help-block text-danger"></p>
            
            <input type="text" class="form-control p-4" id="password"  name="password" placeholder="Contraseña" required="required" data-validation-required-message="Por favor ingresar contraseña" />
            <p class="help-block text-danger"></p>
            <button type="submit" class="boton">Enviar</button>
        <p><a href="/rcontrasena">Olvidó su contraseña?</a></p>
        </form>
    </div>

    <div class="footer">
        <!-- Aquí va el pie de página -->
    </div>
</body>
</html>