<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso por Código QR a las Aulas de Clase</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        #banner {
            background-color: #4CAF50;
            color: white;
            text-align: center;
            padding: 10px;
        }

        #contenido {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 130px);
        }

        .boton {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        #pie {
            background-color: #4CAF50;
            color: white;
            text-align: center;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div id="banner">
        <!-- Aquí va el logo o imagen del banner -->
    </div>

    <div id="contenido">
        <button class="boton" onclick="location.href='/validar'">Registro</button>
        <button class="boton" onclick="location.href=''">Usuarios</button>
        <button class="boton" onclick="location.href=''">Prestamos</button>
        <button class="boton" onclick="location.href=''">Asistencia</button>
        <button class="boton" onclick="location.href='/escanerQR'">Escaner</button>
    </div>

    <div id="pie">
        <!-- Aquí va el texto o información del pie de página -->
    </div>
</body>
</html>